{% extends 'staff_template/base_template.html' %}
{% load i18n %}
{% block page_title %}
      {% trans 'Take Attendance' %}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% trans 'Take Attendance' %}</h3>
                    </div>
                    <!-- /.card-header -->

                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                           
                            <div class="form-group">
                                <label>{% trans 'Assignment' %} </label>
                                <select class="form-control" name="headquarter" id="headquarter">
                                    {% for headquarter in headquarters %}
                                        <option value="{{ headquarter.id }}">{{ headquarter.headquarter_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label>{% trans 'Assignment Period' %} </label>
                                <select class="form-control" name="session_year" id="session_year">
                                    {% for session_year in session_years %}
                                        <option value="{{ session_year.id }}">{{ session_year.session_start_year }} - {{ session_year.session_end_year }}</option>
                                    {% endfor %}
                                </select>
                            </div>


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="button" class="btn btn-primary" id="fetch_intern">{% trans 'Fetch Employee' %}</button>
                        </div>

                        {% comment %} Displaying Interns Here {% endcomment %}

                        <div class="card-footer" id="intern_data">
                        </div> 

                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}

<script>
    $(document).ready(function(){
        $("#fetch_intern").click(function(){

            // Displaying Interns Based on Staff, Department and Session Enrolled

            var headquarter=$("#headquarter").val()
            var session_year=$("#session_year").val()

            $.ajax({
                url:"{% url 'get_interns' %}",
                type:'POST',
                data:{headquarter:headquarter, session_year:session_year},
            })

            
            .done(function(response){
                var json_data=JSON.parse(response);
                console.log(json_data)
                //Displaying Attendance Date Input and Interns Attendance
                var div_data="<div class='form-group'><label>{% trans 'Attendance Date:' %} </label> <input type='date' name='attendance_date' id='attendance_date' class='form-control' /></div>"
                div_data+="<div class='form-group'><div class='row'>"

                for(key in json_data)
                {
                    div_data+="<div class='col-lg-2'><div class='form-check'><input type='checkbox' checked='checked' name='intern_data[]' value='"+ json_data[key]['id'] +"' />  <label class='form-check-label'>"+ json_data[key]['name']+" </label></div></div> ";

                }
                div_data+="</div></div>";
                div_data+="<div class='form-group'>";
                div_data+="<button id='save_attendance' class='btn btn-success' type='button'>{% trans 'Save Attendance Data' %}</button>";
                div_data+="</div>";
                $("#intern_data").html(div_data);

            })
            .fail(function(){
                alert("{% trans 'Error in Fetching Employees.' %}")
            })

            // Save Attendance Data to Database
            $(document).on("click", "#save_attendance", function(){
                
                //Disabling the Button while data is being saved in Server
                $(this).attr("disabled", "disabled")
                $(this).text("{% trans 'Saving Attendance Data...' %}")

                //console.log("SAVE")
                var intern_data=$("input[name='intern_data[]'").map(function(){ 
                        if($(this).is(":checked")){
                            return {"id":$(this).val(), "status":1}; // Getting ID and Value of Intens
                        }
                        else
                        {
                            return {"id":$(this).val(), "status":0}; // Getting ID and Value of Intens
                        }
                    }).get()
                var attendance_date=$("#attendance_date").val();
                var headquarter_id=$("#headquarter").val();
                var session_year_id=$("#session_year").val();
                //console.log(attendance_date)
                //console.log(student_data);
                intern_data = JSON.stringify(intern_data)

                // Saving Attendance Data into Database

                $.ajax({
                    url:"{% url 'save_attendance_data' %}",
                    type:'POST',
                    data:{intern_ids:intern_data, attendance_date:attendance_date, headquarter_id:headquarter_id, session_year_id:session_year_id},
                })

                
                .done(function(response){
                    
                    if(response=="OK")
                    {
                        alert("{% trans 'Attendance Saved!' %}")
                    }
                    else
                    {
                        alert("{% trans 'Failed to Save Attendance!' %}")
                    }
                    location.reload()
                    
                    //console.log(response)
                })

                .fail(function(){
                    alert("{% trans 'Error in Saving Employees Attendance Data.' %}")
                })

            })

        })
    })
</script>
{% endblock custom_js %}