{% extends 'staff_template/base_template.html' %}
{% load i18n %}
{% block page_title %}
    {% trans 'View Intern' %}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'generate_employee_under_staff' %}" role="button">{% trans 'Download PDF' %}</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% trans 'Employee Details' %}</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="{% trans 'Search' %}">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>{% trans 'First Name' %}</th>
                                <th>{% trans 'Last Name' %}</th>
                                <th>{% trans 'Username' %}</th>
                                <th>{% trans 'Email' %}</th>
                                <th>{% trans 'Address' %}</th>
                                <th>{% trans 'Gender' %}</th>
                                <th>{% trans 'Profile Pic' %}</th>
                                <th>{% trans 'Start Period' %}</th>
                                <th>{% trans 'End Period' %}</th>
                                <th>{% trans 'Department' %}</th>
                                <th>{% trans 'Service' %}</th>
                                <th>{% trans 'Last Login' %}</th>
                                <th>{% trans 'Date Joined' %}</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                {% for intern in intern %}
                                <tr>
                                <td>{{ intern.admin.id }}</td>
                                <td>{{ intern.admin.first_name }}</td>
                                <td>{{ intern.admin.last_name }}</td>
                                <td>{{ intern.admin.username }}</td>
                                <td>{{ intern.admin.email }}</td>
                                <td>{{ intern.address }}</td>
                                <td>{{ intern.gender }}</td>
                                <td> <img src="{{ intern.profile_pic }}" style="width: 100px;" /> </td>
                                <td>{{ intern.session_year_id.session_start_year }}</td>
                                <td>{{ intern.session_year_id.session_end_year }}</td>
                                <td>{{ intern.department_id.department_name }}</td>
                                <td>{{ intern.service_id.service_name }}</td>
                                <td>{{ intern.admin.last_login }}</td>
                                <td>{{ intern.admin.date_joined }}</td>
                                
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}