{% extends 'intern_template/base_template.html' %}
{% load i18n %}
{% block page_title %}
    {% trans 'View Attendance' %}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            <a class="btn btn-primary" href="{% url 'generate_attendance_employee' %}" role="button">{% trans 'Download PDF' %}</a> <br/>&nbsp;
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% trans 'View Attendance' %}</h3>
                    </div>
                    <!-- /.card-header -->

                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            
                        <form method="POST" action="{% url 'intern_view_attendance_post' %}">
                        {% csrf_token %}

                        <div class="card-body">
                           
                            <div class="form-group">
                                <label>{% trans 'Assignment' %} </label>
                                <select class="form-control" name="headquarter" id="headquarter">
                                    {% for headquarter in headquarters %}
                                        <option value="{{ headquarter.id }}">{{ headquarter.headquarter_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{% trans 'Start Assignment Date' %} </label>
                                        <input type="date" class="form-control" name="start_date" />
                                    </div>
                                </div>
                                
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{% trans 'End Assignment Date' %} </label>
                                        <input type="date" class="form-control" name="end_date" />
                                    </div>
                                </div>
                                
                            </div>


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary" id="fetch_intern">{% trans 'Fetch Attendance' %}</button>
                        </div>

                        {% comment %} Displaying Employees Here {% endcomment %}

                        <div class="card-footer" id="intern_data">
                        </div> 

                    </div>

                    </form>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}

{% endblock custom_js %}