{% extends 'intern_template/base_template.html' %}
{% load i18n %}
{% block page_title %}
    {% trans 'Leave Report and Apply for Leave' %}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% trans 'Apply For Leave' %}</h3>
                    </div>
                    <!-- /.card-header -->

                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            
                    <form method="POST" action="{% url 'intern_apply_leave_save' %}">
                        {% csrf_token %}
                        <div class="card-body">
                           
                            <div class="form-group">
                                <label>{% trans 'Leave Date' %} </label>
                                <input type="date" name="leave_date" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>{% trans 'Leave Reason' %} </label>
                                <textarea name="leave_message" class="form-control" id="arabic-input" rows="6" placeholder="{% trans 'Leave Messge' %}"></textarea>
                            </div>


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">{% trans 'Apply for Leave' %}</button>
                        </div>

                    </form>

                    </div>
                    <!-- /.card -->



                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">{% trans 'Leave Apply History' %}</h3>
                        </div>

                        <div class="card-body">
                           <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>#ID</th>
                                        <th>{% trans 'Leave Date' %}</th>
                                        <th>{% trans 'Leave Message' %}</th>
                                        <th>{% trans 'Status' %}</th>
                                    </tr>
                                    </thead>
                                    
                                    {% for leave in leave_data %}
                                    <tr>
                                        <td>{{ leave.id }}</td>
                                        <td>{{ leave.leave_date }}</td>
                                        <td>{{ leave.leave_message }}</td>
                                        <td>
                                            {% if leave.leave_status == 1 %}
                                                <span class="alert alert-success">{% trans 'Approved' %}</span>
                                            {% elif leave.leave_status == 2 %}
                                                <span class="alert alert-danger">{% trans 'Rejected' %}</span>
                                            {% else %}
                                                <span class="alert alert-warning">{% trans 'Pending' %}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}

{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE == 'ar' %}

<script>
$(document).ready(function () {
    // Initialize the virtual keyboard
    var virtualKeyboard = $('#arabic-input').keyboard({
        layout: 'custom',
        customLayout: {
          'default': [
                    'ض ص ث ق ف غ ع ه خ ح ج ش',
                    'ش س ي ب ل ا ت ن م ك ظ',
                    '{shift} ء ئ ؤ ر لإ لآ ى ة و ز ظ',
                    '{numbers} ، ؛ / : . , - + = _',
                    '{space}'
          ],
          'shift': [
                    'ً ٌ ٍ ؤ َ ُ ِ ئ ا أ ٱ ٲ ٳ ٴ ٵ ٶ ٷ',
                    'إ ب ة ت ث ن م ء ذ د ِ ّ ْ َّ ُّ ِّ ًّ',
                    '{shift} ؤ ئ ّء ة ى ٱ ٲ ٳ ٴ ٵ ٶ ٷ ٸ ٹ ٺ',
                    '{numbers} ، ؛ / : . , - + = _',
                    '{space}'
          ],
        },
        display: {
            '{numbers}': '123',
            '{space}': 'Space',
            '{shift}': 'Shift',
        },
        usePreview: false, // Disable the preview display
        position: {
            of: '#arabic-input',
            my: 'left-130 top+83', // Adjust the vertical offset here (40px in this example)
            at: 'center bottom',
            collision: 'flipfit',
        },
        autoAccept: false, // Disable auto-acceptance of keys
        useCombos: false, // Disable combining characters
        maxLength: 100, // Set a maximum length for the input field if needed
        autoAccept: true,
    }).getkeyboard();

    // Handle keypress events on the virtual keyboard
    $('#arabic-input').on('keyboardChange', function (e, keyboard, el) {
      el.value = keyboard.$preview.val(); // Update the input field value with the pressed key
      
      
    });

    
   /*
    // Show the virtual keyboard when the button is clicked
    $('#arabic-input-button').on('click', function () {
         virtualKeyboard.reveal();
        $('#arabic-input').focus(); // Focus the input field after showing the virtual keyboard
    });
    */

    $('#arabic-input').on('focus', function () {
    $(this).blur();
    });
     virtualKeyboard.$el.on('hidden.keyboard', function () {
     $('#arabic-input').val(virtualKeyboard.$preview.val());
     });
    
});
</script>

{% endif %}

{% endblock custom_js %}