{% extends 'hod_template/base_template.html' %}
{% load i18n %}
{% block page_title %}
{% trans 'Add Staff' %}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% trans 'Add Staff' %}</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'add_staff_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            <div class="form-group">
                                <label>{% trans 'Email address' %}</label>
                                <input type="email" class="form-control"  name="email" placeholder="{% trans 'Enter email' %}" id="id_email">
                            </div>

                            <div class="form-group">
                                <label>{% trans 'Username' %}</label>
                                <input type="text" class="form-control arabic-input" name="username" placeholder="{% trans 'Username' %}" id="id_username">
                            </div>

                            <div class="form-group">
                                <label>{% trans 'Password' %}</label>
                                <input type="password" class="form-control arabic-input" name="password" placeholder="{% trans 'Password' %}">
                            </div>

                            <div class="form-group">
                                <label>{% trans 'First Name' %}</label>
                                <input type="text" class="form-control arabic-input" name="first_name" placeholder="{% trans 'First Name' %}">
                            </div>

                            <div class="form-group">
                                <label>{% trans 'Last Name' %}</label>
                                <input type="text" class="form-control arabic-input" name="last_name" placeholder="{% trans 'Last Name' %}">
                            </div>

                            <div class="form-group">
                                <label>{% trans 'Address' %}</label>
                                <textarea class="form-control arabic-input" name="address" placeholder="{% trans 'Address' %}"></textarea>
                            </div>

                            


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">{% trans 'Add Staff' %}</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}

    {% get_current_language as LANGUAGE_CODE %}

  {% if LANGUAGE_CODE == 'ar' %}

<script>
  $(document).ready(function () {

    $('.arabic-input').on('focus', function () {
      // Initialize the virtual keyboard
      var virtualKeyboard = $(this).keyboard({
          layout: 'custom',
          customLayout: {
            'default': [
                      'ض ص ث ق ف غ ع ه خ ح ج ش',
                      'ش س ي ب ل ا ت ن م ك ظ',
                      '{shift} ء ئ ؤ ر لإ لآ ى ة و ز ط',
                      '{numbers} ، ؛ / : . , - + = _',
                      '{space}'
            ],
            'shift': [
                      'ً ٌ ٍ ؤ َ ُ ِ ئ ا أ ٱ ٲ ٳ ٴ ٵ ٶ ٷ',
                      'إ ب ة ت ث ن م ء ذ د ِ ّ ْ َّ ُّ ِّ ًّ',
                      '{shift} ؤ ئ ّء ة ى ٱ ٲ ٳ ٴ ٵ ٶ ٷ ٸ ٹ ٺ',
                      '{numbers} ، ؛ / : . , - + = _',
                      '{space}'
            ],
          },
          display: {
              '{numbers}': '123',
              '{space}': 'Space',
              '{shift}': 'Shift',
          },
          usePreview: false, // Disable the preview display
          position: {
              of: this,
              my: 'center top+40', // Adjust the vertical offset here (40px in this example)
              at: 'center bottom',
              collision: 'flipfit',
          },
          autoAccept: false, // Disable auto-acceptance of keys
          useCombos: false, // Disable combining characters
          maxLength: 100, // Set a maximum length for the input field if needed
          autoAccept: true,
      }).getkeyboard();

      // Handle keypress events on the virtual keyboard
      $(this).on('keyboardChange', function (e, keyboard, el) {
        el.value = keyboard.$preview.val(); // Update the input field value with the pressed key
        
        
      });
      $(this).css('outline', 'none');
  
      
     /*
      // Show the virtual keyboard when the button is clicked
      $('#arabic-input-button').on('click', function () {
           virtualKeyboard.reveal();
          $('#arabic-input').focus(); // Focus the input field after showing the virtual keyboard
      });
      */

      $(this).on('focus', function () {
      $(this).blur();
      });
       virtualKeyboard.$el.on('hidden.keyboard', function () {
       $(this).val(virtualKeyboard.$preview.val());
       });
    });
      
  });
</script>

{% endif %}




    {% comment %} Checking if email and username already exists or not usin Ajax {% endcomment %}

    <script>
        $(document).ready(function(){
            // keyup event will be triggered when user leaves keyboard
            $("#id_email").keyup(function(){
                var email = $(this).val();

                if(email!=""){
                    $.ajax({
                        url : "{% url 'check_email_exist' %}",
                        type : 'POST',
                        data : {email:email}
                    })
                    .done(function(response){
                        //console.log(response);

                        if(response == "True"){
                            $(".email_error").remove();
                            $("<span class='email_error' style='color: red; padding: 5px; font-weight: bold;'> {% trans 'Email Not Available.' %} </span>").insertAfter("#id_email")
                        }
                        else{
                            $(".email_error").remove();
                            $("<span class='email_error' style='color: green; padding: 5px; font-weight: bold;'> {% trans 'Email Available.' %} </span>").insertAfter("#id_email")
                        }
                    })

                    .fail(function(){
                        console.log("Failed");
                    })
                }
                else{
                    $(".email_error").remove();
                }
                
            })

            $("#id_username").keyup(function(){
                var username = $(this).val();
                
                if(username!=""){
                    $.ajax({
                        url : "{% url 'check_username_exist' %}",
                        type : 'POST',
                        data : {username:username}
                    })
                    .done(function(response){
                        //console.log(response);

                        if(response == "True"){
                            $(".username_error").remove();
                            $("<span class='username_error' style='color: red; padding: 5px; font-weight: bold;'>{% trans 'Username Not Available.' %}  </span>").insertAfter("#id_username")
                        }
                        else{
                            $(".username_error").remove();
                            $("<span class='username_error' style='color: green; padding: 5px; font-weight: bold;'>{% trans 'Username Available.' %}  </span>").insertAfter("#id_username")
                        }
                    })

                    .fail(function(){
                        console.log("Failed");
                    })
                }
                else{
                    $(".username_error").remove();
                }
                
            })
        })
    </script>

    



  {% endblock custom_js %}