{% extends 'hod_template/base_template.html' %}
{% load i18n %}
{% block page_title %}
{% trans 'Add Employee' %}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% trans 'Add Employee' %}</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    {% url 'add_intern_save' as action_path %}
                    
           
                    
                    {% include 'hod_template/form_template.html' with messages=messages form=form action_path=action_path button_text=_('Add Employee')  %}
                    
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

  {% block custom_js %}
 
  <script>
    $(document).ready(function() {
        // Hide all service options initially
        $('#department_id').on('change', function() {
            var selectedDepartmentId = $(this).val();

            // Hide all service options
            $('#service_id option').hide();

            // Show only the services related to the selected department
            $('#service_id option[data-department="' + selectedDepartmentId + '"]').show();

            // Select the first service option for the selected department
            $('#service_id option[data-department="' + selectedDepartmentId + '"]:first').prop('selected', true);
        });
    });
</script>


  
  {% get_current_language as LANGUAGE_CODE %}

  {% if LANGUAGE_CODE == 'ar' %}
      <script>
          $(document).ready(function () {
              $('.arabic-input').each(function () {
                  // Initialize the virtual keyboard
                  var virtualKeyboard = $(this).keyboard({
                      // Your custom keyboard layout and options here
                      layout: 'custom',
                      customLayout: {
          'default': [
                    'ض ص ث ق ف غ ع ه خ ح ج ش',
                    'ش س ي ب ل ا ت ن م ك ظ',
                    '{shift} ء ئ ؤ ر لإ لآ ى ة و ز ظ',
                    '{numbers} ، ؛ / : . , - + = _',
                    '{space}'
          ],
          'shift': [
                    'ً ٌ ٍ ؤ َ ُ ِ ئ ا أ ٱ ٲ ٳ ٴ ٵ ٶ ٷ',
                    'إ ب ة ت ث ن م ء ذ د ِ ّ ْ َّ ُّ ِّ ًّ',
                    '{shift} ؤ ئ ّء ة ى ٱ ٲ ٳ ٴ ٵ ٶ ٷ ٸ ٹ ٺ',
                    '{numbers} ، ؛ / : . , - + = _',
                    '{space}'
          ],
        },
        display: {
            '{numbers}': '123',
            '{space}': 'Space',
            '{shift}': 'Shift',
        },
        usePreview: false, // Disable the preview display
        position: {
            of: $(this),
            my: 'center top+40', // Adjust the vertical offset here (40px in this example)
            at: 'center bottom',
            collision: 'flipfit',
        },
        autoAccept: false, // Disable auto-acceptance of keys
        useCombos: false, // Disable combining characters
        maxLength: 100, // Set a maximum length for the input field if needed
        autoAccept: true,
    }).getkeyboard();         
                     

                  // Handle keypress events on the virtual keyboard
                  $(this).on('keyboardChange', function (e, keyboard, el) {
                      el.value = keyboard.$preview.val(); // Update the input field value with the pressed key
                  });

                  // Hide the virtual keyboard after use
                  $(this).on('focus', function () {
                      $(this).blur();
                  });
                  virtualKeyboard.$el.on('hidden.keyboard', function () {
                      $(this).val(virtualKeyboard.$preview.val());
                  });
              });
          });
      </script>
  {% endif %}


    {% comment %} Checking if email and username already exists or not usin Ajax {% endcomment %}

    <script>
        $(document).ready(function(){
            
            // keyup event will be triggered when user leaves keyboard
            $("#id_email").keyup(function(){
                var email = $(this).val();

                if(email!=""){
                    $.ajax({
                        url : "{% url 'check_email_exist' %}'",
                        type : 'POST',
                        data : {email:email}
                    })
                    .done(function(response){
                        //console.log(response);

                        if(response == "True"){
                            $(".email_error").remove();
                            $("<span class='email_error' style='color: red; padding: 5px; font-weight: bold;'>{% trans 'Email Not Available.' %}  </span>").insertAfter("#id_email")
                        }
                        else{
                            $(".email_error").remove();
                            $("<span class='email_error' style='color: green; padding: 5px; font-weight: bold;'> {% trans 'Email Available.' %} </span>").insertAfter("#id_email")
                        }
                    })

                    .fail(function(){
                        console.log("Failed");
                    })
                }
                else{
                    $(".email_error").remove();
                }
                
            })

            $("#id_username").keyup(function(){
                var username = $(this).val();
                
                if(username!=""){
                    $.ajax({
                        url : "{% url 'check_username_exist' %}",
                        type : 'POST',
                        data : {username:username}
                    })
                    .done(function(response){
                        //console.log(response);

                        if(response == "True"){
                            $(".username_error").remove();
                            $("<span class='username_error' style='color: red; padding: 5px; font-weight: bold;'> {% trans 'Username Not Available.' %} </span>").insertAfter("#id_username")
                        }
                        else{
                            $(".username_error").remove();
                            $("<span class='username_error' style='color: green; padding: 5px; font-weight: bold;'> {% trans 'Username Available.' %} </span>").insertAfter("#id_username")
                        }
                    })

                    .fail(function(){
                        console.log("Failed");
                    })
                }
                else{
                    $(".username_error").remove();
                }
                
            })
        })
    </script>

  {% endblock custom_js %}