{% extends 'hod_template/base_template.html' %}
{% load i18n %}
{% load babel %}

{% block page_title %}
{% trans 'Add Assignment' %}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% trans 'Add Assignment' %}</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'add_headquarter_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            <div class="form-group">
                                <label>{% trans 'Assignment Name' %} </label>
                                <input type="text" class="form-control arabic-input" name="headquarter" id="headquarter" placeholder="{% trans 'Enter Assignment' %}">
                            </div>

                            <div class="form-group">
                                <label for="department">{% trans 'Department' %} </label>
                                <select class="form-control" name="department" id="department">
                                    {% for department in departments %}
                                        <option value="{{ department.id }}">{% trans department.department_name %}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="service">{% trans 'Service' %} </label>
                                <select class="form-control" name="service" id="service">
                                    {% for department in departments %}
                                      {% for service in department.services.all %}
                                       <option value="{{ service.id }}" data-department="{{ department.id }}">{{ service.service_name }}</option>
                                       {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="staff">{% trans 'Staff' %} </label>
                                <select class="form-control" name="staff" id="staff">
                                    {% for staff in staffs %}
                                        <option value="{{ staff.id }}">{% trans staff.first_name %} {% trans staff.last_name %}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="session_year">{% trans 'Period' %} </label>
                                <select class="form-control" name="session_year" id="session_year">
                                    {% for session_year in session_year_list %}
                                       {% with id_val=session_year.0 name=session_year.1 %}
                                        <option value="{{ id_val }}">{% trans name %}</option>
                                        {% endwith %}
                                    {% endfor %}
                                </select> 
                            </div>



                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">{% trans 'Add Assignment' %}</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}


  {% block custom_js %}
   
  <script>
    $(document).ready(function() {
        // Hide all service options initially
        $('#department').on('change', function() {
            var selectedDepartmentId = $(this).val();

            // Hide all service options
            $('#service option').hide();

            // Show only the services related to the selected department
            $('#service option[data-department="' + selectedDepartmentId + '"]').show();

            // Select the first service option for the selected department
            $('#service option[data-department="' + selectedDepartmentId + '"]:first').prop('selected', true);
        });
    });
</script>


  {% get_current_language as LANGUAGE_CODE %}

  {% if LANGUAGE_CODE == 'ar' %}

<script>
  $(document).ready(function () {
      // Initialize the virtual keyboard
      var virtualKeyboard = $('.arabic-input').keyboard({
          layout: 'custom',
          customLayout: {
            'default': [
                      'ض ص ث ق ف غ ع ه خ ح ج ش',
                      'ش س ي ب ل ا ت ن م ك ظ',
                      '{shift} ء ئ ؤ ر لإ لآ ى ة و ز ظ',
                      '{numbers} ، ؛ / : . , - + = _',
                      '{space}'
            ],
            'shift': [
                      'ً ٌ ٍ ؤ َ ُ ِ ئ ا أ ٱ ٲ ٳ ٴ ٵ ٶ ٷ',
                      'إ ب ة ت ث ن م ء ذ د ِ ّ ْ َّ ُّ ِّ ًّ',
                      '{shift} ؤ ئ ّء ة ى ٱ ٲ ٳ ٴ ٵ ٶ ٷ ٸ ٹ ٺ',
                      '{numbers} ، ؛ / : . , - + = _',
                      '{space}'
            ],
          },
          display: {
              '{numbers}': '123',
              '{space}': 'Space',
              '{shift}': 'Shift',
          },
          usePreview: false, // Disable the preview display
          position: {
              of: '.arabic-input',
              my: 'center top+40', // Adjust the vertical offset here (40px in this example)
              at: 'center bottom',
              collision: 'flipfit',
          },
          autoAccept: false, // Disable auto-acceptance of keys
          useCombos: false, // Disable combining characters
          maxLength: 100, // Set a maximum length for the input field if needed
          autoAccept: true,
      }).getkeyboard();

      // Handle keypress events on the virtual keyboard
      $('.arabic-input').on('keyboardChange', function (e, keyboard, el) {
        el.value = keyboard.$preview.val(); // Update the input field value with the pressed key
        
        
      });

      
     /*
      // Show the virtual keyboard when the button is clicked
      $('#arabic-input-button').on('click', function () {
           virtualKeyboard.reveal();
          $('#arabic-input').focus(); // Focus the input field after showing the virtual keyboard
      });
      */

      $('.arabic-input').on('focus', function () {
      $(this).blur();
      });
       virtualKeyboard.$el.on('hidden.keyboard', function () {
       $('.arabic-input').val(virtualKeyboard.$preview.val());
       });
      
  });
</script>

{% endif %}

  {% endblock custom_js %}