{% extends 'hod_template/base_template.html' %}
{% load i18n %}
{% block page_title %}
   {% trans 'Employees Message' %}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            <a class="btn btn-primary" href="{% url 'generate_view_admin_message_employees' %}" role="button">{% trans 'Download PDF' %}</a> <br/>&nbsp;
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">{% trans 'Employee Message' %}</h3>
                        </div>
                        <!-- /.card-header -->

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>{% trans 'Employee' %} ID</th>
                                    <th>{% trans 'Employee Name' %}</th>
                                    
                                    <th>{% trans 'Message' %}</th>
                                    <th>{% trans 'Sended On' %}</th>
                                    <th>{% trans 'Reply' %}</th>
                                </tr>
                                </thead>

                                {% for feedback in feedbacks %}
                                <tbody>
                                <tr>
                                    <td>{{ feedback.id }}</td>
                                    <td>{{ feedback.intern_id.admin.id }}</td>
                                    <td>{{ feedback.intern_id.admin.first_name }} {{ feedback.intern_id.admin.last_name }}</td>
                                    
                                    <td>{{ feedback.feedback }}</td>
                                    <td>{{ feedback.created_at }}</td>
                                    <td>
                                        {% if feedback.feedback_reply == "" %}
                                            <button class="btn btn-success reply_open_modal" data-toggle="modal" data-target="#replyModal">{% trans 'Reply' %}</button>
                                        {% else %}
                                            {{ feedback.feedback_reply }}
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                                </tbody>
                                {% endfor %}

                            </table>
                        </div>
                    
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

      {% comment %} Modal to Reply Feedback {% endcomment %}
      <!-- Modal -->
        <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% trans 'Reply Message' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{% trans 'Reply to:' %} <b><span id="reply_name"></span></b></p>
                <input type="hidden" id="reply_id" name="reply_id" />
                <textarea class="form-control arabic-input" rows="5" id="reply_message"></textarea>
            </div>
            <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
                <button type="button" class="btn btn-primary btn-block" id="reply_button">{% trans 'Reply' %}</button>
            </div>
            </div>
        </div>
        </div>

  {% endblock main_content %}

  {% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

  {% block custom_js %}
    <script>
        $(document).ready(function(){
            $(".reply_open_modal").click(function(){
                // Getting Value from Table
                var id = $(this).parents("tr").children("td:eq(0)").text(); //Getting Selected Row ID (Frist Column)
                var name = $(this).parents("tr").children("td:eq(2)").text(); //Getting Selected Name (3rd Column)
                
                // Adding the Value from Table to Modal form
                $("#reply_id").val(id);
                $("#reply_name").text(name);
            });

            $(document).on("click", "#reply_button", function(){
                //Disabling the Button while data is being saved in Server
                $(this).attr("disabled", "disabled")
                $(this).text("{% trans 'Sending Reply...' %}")

                //console.log("SAVE")
                

                var id=$("#reply_id").val();
                var reply=$("#reply_message").val();
                //console.log(student_data);

                // Saving Attendance Data into Database

                $.ajax({
                    url:"{% url 'intern_feedback_message_reply' %}",
                    type:'POST',
                    data:{id:id, reply:reply},
                })

                
                .done(function(response){
                    
                    if(response=="True")
                    {
                        alert("{% trans 'Reply Sent!' %}")
                    }
                    else
                    {
                        alert("{% trans 'Failed to Send Reply!' %}")
                    }
                    location.reload()
                    
                    //console.log(response)
                })

                .fail(function(){
                    alert("{% trans 'Error in Sending Message Reply.' %}")
                })

            })

        })
    </script>

{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE == 'ar' %}

<script>
$(document).ready(function () {
    // Initialize the virtual keyboard
    var virtualKeyboard = $('.arabic-input').keyboard({
        layout: 'custom',
        customLayout: {
          'default': [
                    'ض ص ث ق ف غ ع ه خ ح ج ش',
                    'ش س ي ب ل ا ت ن م ك ظ',
                    '{shift} ء ئ ؤ ر لإ لآ ى ة و ز ظ',
                    '{numbers} ، ؛ / : . , - + = _',
                    '{space}'
          ],
          'shift': [
                    'ً ٌ ٍ ؤ َ ُ ِ ئ ا أ ٱ ٲ ٳ ٴ ٵ ٶ ٷ',
                    'إ ب ة ت ث ن م ء ذ د ِ ّ ْ َّ ُّ ِّ ًّ',
                    '{shift} ؤ ئ ّء ة ى ٱ ٲ ٳ ٴ ٵ ٶ ٷ ٸ ٹ ٺ',
                    '{numbers} ، ؛ / : . , - + = _',
                    '{space}'
          ],
        },
        display: {
            '{numbers}': '123',
            '{space}': 'Space',
            '{shift}': 'Shift',
        },
        usePreview: false, // Disable the preview display
        position: {
            of: '.arabic-input',
            my: 'center top+160', // Adjust the vertical offset here (40px in this example)
            at: 'center bottom',
            collision: 'flipfit',
        },
        autoAccept: false, // Disable auto-acceptance of keys
        useCombos: false, // Disable combining characters
        maxLength: 100, // Set a maximum length for the input field if needed
        autoAccept: true,
    }).getkeyboard();

    // Handle keypress events on the virtual keyboard
    $('.arabic-input').on('keyboardChange', function (e, keyboard, el) {
      el.value = keyboard.$preview.val(); // Update the input field value with the pressed key
      
      
    });

    
   /*
    // Show the virtual keyboard when the button is clicked
    $('#arabic-input-button').on('click', function () {
         virtualKeyboard.reveal();
        $('#arabic-input').focus(); // Focus the input field after showing the virtual keyboard
    });
    */

    $('.arabic-input').on('focus', function () {
    $(this).blur();
    });
     virtualKeyboard.$el.on('hidden.keyboard', function () {
     $('.arabic-input').val(virtualKeyboard.$preview.val());
     });
    
});
</script>

{% endif %}

  {% endblock custom_js %}